body {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  font-size: 15px;
  padding: 5px;
}

#alert_modal_background {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 128, 128, 0.3);
}

#alert_modal {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 3px solid #888;
  width: 40%;
  height: 30%;
  text-align: center;
  font-size: 60px;
  color: #2c84b0;
  transition: width 0.2s, height 0.2s;
}

#alert_message {
  margin: 60px auto;
  text-align: center;
  font-size: 35px;
  color: black;
}

#alert_function {
  font-size: 35px;
  color: blue;
  text-align: center;
  margin: 0 auto;
}

#alert_modal_close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#alert_modal_close:hover,
#alert_modal_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#alert_modal_left {
  float: right;
  font-size: 18px;
  margin-right: 20px;
}

#alert_modal_skip {
  float: right;
  font-size: 18px;
  color: #aaa;
}

#alert_modal_skip:hover,
#alert_modal_skip:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#w3 {
  width: 34%;
  height: 80vh;
  border: 2px solid grey;
  float: left;
  margin-left: 1%;
}

.playground {
  width: auto;
  border: 3px solid white;
  height: 50%;
}

#execution {
  width: 34%;
  height: 80vh;
  border: 2px solid grey;
  float: left;
}

.call_codes {
  width: auto;
  height: 90%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  border: 3px solid white;
  display: block;
}

.call_codes::-webkit-scrollbar {
  display: none;
}

#submit_codes {
  width: auto;
  height: 9%;
  background-color: grey;
  opacity: 0.8;
  text-align: center;
  font-size: 50px;
}

#add_block {
  border: 2px solid grey;
  width: auto;
  font-size: 20px;
  padding: 10px;
}

.variable_name {
  display: inline-block;
  width: 150px;
  background-color: #a1f088;
  border: 3px solid #5fdec1;
  padding: 10px 15px;
  font-size: 18px;
  box-shadow: 2px 3px 1.5px grey;
  margin: 10px;
}

.function_name {
  display: inline-block;
  margin: 15px 10px;
  padding: 10px 15px;
  font-size: 18px;
  box-shadow: 2px 3px 1.5px grey;
  margin: 10px;
  border: 3px solid #e0ef86;
  background-color: yellow;
}

#name:focus {
  outline-offset: 0px;
  outline: none;
}

#func_value {
  display: none;
}

#func_value_func {
  width: 500px;
  height: 80px;
}

.info {
  display: block;
  position: absolute;
  white-space: pre-line;
  border: 1px solid grey;
  background-color: aliceblue;
  padding: 5px;
}

.block {
  padding: 10px 15px;
  font-size: 18px;
  box-shadow: 2px 3px 1.5px grey;
  margin: 10px;
  display: inline-block;
}

.variable {
  background-color: #a1f088;
  border: 3px solid #5fdec1;
}

.function {
  border: 3px solid #e0ef86;
  background-color: yellow;
  display: block;
  width: fit-content;
  margin: 15px 10px;
}

#event_loop {
  width: 30%;
  height: 80vh;
  border: 2px solid black;
  float: left;
}

/* #call_stack,
#web_api,
#callback_queue {
  border: 2px solid black;
  float: left;
  margin: 3%;
}

#call_stack,
#web_api {
  width: 40%;
  height: 60.5%;
  position: relative;
  margin-top: 8%;
}

#call_stack {
  margin-left: 7%;
}

#callback_queue {
  margin-top: 5%;
  margin-left: 7%;
  width: 87%;
  height: 20%;
  position: relative;
} */

#trash {
  background-color: red;
  border: 3px solid black;
  height: 100px;
  width: 200px;
}

#debugger {
  border: 1px solid black;
  width: max-content;
  margin: 0 auto;
}

#call_stack {
  width: 80%;
  height: 80%;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 10px;
}

.ondragel {
  background-color: #7e7eff;
}

.whiledrag {
  border-color: #2f2fff;
  border-style: dashed;
}
