#alert_modal_background {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 128, 128, 0.3);
}

#alert_modal {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 3px solid #888;
  width: 40%;
  height: 30%;
  text-align: center;
  font-size: 60px;
  color: #2c84b0;
  transition: width 0.2s, height 0.2s;
}

#alert_message {
  width: min-content;
  height: min-content;
  margin: 60px auto;
  text-align: center;
  font-size: 35px;
  color: black;
}

#alert_modal_close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#alert_modal_close:hover,
#alert_modal_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.variable,
.function {
  border: 3px solid #e5e500;
  background-color: yellow;
  width: min-content;
  height: min-content;
  padding: 10px;
  font-size: 18px;
  box-shadow: 2px 3px 1.5px grey;
  margin: 10px;
}

.variable {
  background-color: #78f59f;
  border: 3px solid #42cef5;
}

#playground {
  width: 30%;
  height: 80vh;
  border: 2px solid grey;
  float: left;
  margin-left: 5%;
}

#add {
  width: auto;
  border: 1px solid black;
  height: 7%;
}

#add_variable,
#add_function {
  margin: 0px auto;
  width: max-content;
}

#codes {
  width: 100%;
  height: 93%;
  overflow-y: scroll;
}

#execution {
  width: 30%;
  height: 80vh;
  border: 2px solid grey;
  float: left;
}

#testing {
  width: 100%;
  height: 91%;
  overflow-y: scroll;
}

#submit_codes {
  width: 100%;
  height: 9%;
  background-color: grey;
  opacity: 0.8;
  text-align: center;
  font-size: 50px;
}

#event_loop {
  width: 30%;
  height: 80vh;
  border: 2px solid black;
  float: left;
}

#call_stack,
#web_api,
#callback_queue {
  border: 2px solid black;
  float: left;
  margin: 3%;
}

#call_stack,
#web_api {
  width: 40%;
  height: 60.5%;
  position: relative;
  margin-top: 8%;
}

#variable_boolean {
  color: blue;
  width: 153px;
  display: none;
}

#call_stack {
  margin-left: 7%;
}

#callback_queue {
  margin-top: 5%;
  margin-left: 7%;
  width: 87%;
  height: 20%;
  position: relative;
}
.ondragel {
  background-color: blue;
  opacity: 0.6;
}

.whiledrag {
  border-color: blue;
  border-style: dashed;
}
